In [1]:
#installing selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\satvi\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\satvi\anaconda3\lib\site-packages (from selenium) (1.25.11)

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data

In [1]:
#importing webdriver
from selenium import webdriver

In [2]:
#Pasting the installed msedge path
driver=webdriver.Edge(executable_path=r'C:\Users\satvi\OneDrive\Documents\msedgedriver.exe')

In [52]:
#searching for naukri job titles
url='https://www.naukri.com/'
#getting url
driver.get(url)

In [5]:
#searching for the data scientists job position
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [6]:
#Sending the keys for the position
search_job.send_keys('Data Analyst')

In [7]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys('Bangalore')

In [8]:
#searching for the search button
search_btn=driver.find_element_by_class_name('btn')
search_btn.click()

In [14]:
#Extracting the job_titles of top 10 companies
job_titles=[]
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    title=i.text
    job_titles.append(title)
                                             
job_titles[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Network Design & Data Analyst',
 'Senior Security Specialist - CS Awareness & Data Analyst',
 'Senior Data Analyst',
 'Data analysts',
 'Data analysts',
 'Data Analyst',
 'Data Analyst (Data Stewards)//Immediate Joiners//Bangalore',
 'Senior Data Analyst',
 'Data Analyst']

In [15]:
#Extracting the job location of top 10 companies
job_location=[]
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[:10]

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Bangalore/Bengaluru']

In [16]:
#Extracting top 10 company names
company_names=[]
company_details=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_details:
    companies=i.text
    company_names.append(companies)
company_names[:10]

['Inflexion Analytix Private Limited',
 'Dell International Services India Private Limited',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Flipkart Internet Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Zilingo.com',
 'Tech Mahindra Ltd.',
 'Liventus, Inc.',
 'Superior Group']

In [17]:
#Extracting top 10 Companies requirement of experience
experience_required=[]
experience=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience:
    experience_required.append(i.text)
experience_required[:10]

['0-3 Yrs',
 '0-2 Yrs',
 '4-7 Yrs',
 '4-5 Yrs',
 '3-5 Yrs',
 '5-6 Yrs',
 '0-4 Yrs',
 '5-10 Yrs',
 '5-8 Yrs',
 '4-9 Yrs']

In [18]:
#Creating the DataFrame
#importing libraries
import pandas as pd
import numpy as np
jobs=pd.DataFrame({'Job_titles':job_titles,'Job_location':job_location,'Company_names':company_names,'Experience_required':experience_required},index=range(0,20,1))
jobs[:10]

,Job_titles,Job_location,Company_names,Experience_required
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,Network Design & Data Analyst,Bangalore/Bengaluru,Dell International Services India Private Limited,0-2 Yrs
2,Senior Security Specialist - CS Awareness & Da...,Bangalore/Bengaluru,Cognizant Technology Solutions India Pvt Ltd,4-7 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,4-5 Yrs
4,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,3-5 Yrs
5,Data analysts,Bengaluru/Bangalore,IBM India Pvt. Limited,5-6 Yrs
6,Data Analyst,Bangalore/Bengaluru,Zilingo.com,0-4 Yrs
7,Data Analyst (Data Stewards)//Immediate Joiner...,Bangalore/Bengaluru,Tech Mahindra Ltd.,5-10 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru(2nd Phase JP Nagar),"Liventus, Inc.",5-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,Superior Group,4-9 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [13]:
import time
from selenium.common.exceptions import NoSuchElementException

In [4]:
#searching for naukri job titles
url='https://www.naukri.com/'
#getting url
driver.get(url)

In [5]:
#searching for the data scientists job position
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [6]:
#Sending the keys for the position
search_job.send_keys('Data Scientist')

In [7]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys('Bangalore')

In [8]:
#searching for the search button
search_btn=driver.find_element_by_class_name('btn')
search_btn.click()

In [11]:
#Extracting the job_titles of top 10 companies
job_titles=[]
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    title=i.text
    job_titles.append(title)
                                             
job_titles[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'Lead Data Scientist',
 'Senior/Lead Data Scientist - Machine Learning/Deep Learning',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [12]:
#Extracting the job location of top 10 companies
job_location=[]
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[:10]

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Dairy Circle)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [13]:
#Extracting top 10 company names
company_names=[]
company_details=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_details:
    companies=i.text
    company_names.append(companies)
company_names[:10]

['Inflexion Analytix Private Limited',
 'Baker Hughes Incorporated',
 'Baker Hughes - The Network',
 'ALTEN CALSOFT LABS (INDIA) PRIVATE LIMITED',
 'Squareroot Consulting Pvt Ltd.',
 'Wrackle Technologies Pvt Ltd',
 'Multi Recruit',
 'FabHotel Aay Kay Model Town',
 'Baker Hughes - The Network',
 'Baker Hughes Incorporated']

In [14]:
#Fetching URL'S
urls=[]
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    urls.append(i.get_attribute('href'))
len(urls)

20

In [15]:
#Extracting top 10 Companies job description
job_description=[]
for i in urls:
    driver.get(i)
    time.sleep(1) 
    try:
        description=driver.find_element_by_xpath('//section[@class="job-desc"]')
        job_description.append(description.text)
    except NoSuchElementException:
        job_description.append('-')
len(job_description)

20

In [16]:
#Creating the DataFrame
#importing libraries
import pandas as pd
import numpy as np
jobs=pd.DataFrame({'Job_titles':job_titles,'Job_location':job_location,'Company_names':company_names,'Job_description':job_description},index=range(0,20,1))
jobs[:10]

,Job_titles,Job_location,Company_names,Job_description
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,Job description\nJob description\n\nJob Role: ...
1,Sr Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated,"Job description\nAs as Senior Data Scientist, ..."
2,Sr Data Scientist,Bangalore/Bengaluru,Baker Hughes - The Network,"Job description\nAs as Senior Data Scientist, ..."
3,Lead Data Scientist,Bangalore/Bengaluru(Dairy Circle),ALTEN CALSOFT LABS (INDIA) PRIVATE LIMITED,Job description\nROLES AND RESPONSIBILITIES:\n...
4,Senior/Lead Data Scientist - Machine Learning/...,Bangalore/Bengaluru,Squareroot Consulting Pvt Ltd.,Job description\nRoles and Responsibilities\nH...
5,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,Job description\nRoles and Responsibilities\nR...
6,Sr. Data Scientist,Bangalore/Bengaluru,Multi Recruit,Job description\nActively engage with internal...
7,Data Scientist,Bangalore/Bengaluru,FabHotel Aay Kay Model Town,"Job description\nAs a Data Scientist, you woul..."
8,Data Scientist,Bangalore/Bengaluru,Baker Hughes - The Network,Job description\n Contributing in development...
9,Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated,"Job description\nAs a Data Scientist, you woul..."

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [62]:
#searching for naukri job titles
url='https://www.naukri.com/'
#getting url
driver.get(url)

In [63]:
#searching for the data scientists job position
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [64]:
#Sending the keys for the position
search_job.send_keys('Data Scientist')

In [65]:
#searching for the search button
search_btn=driver.find_element_by_class_name('btn')
search_btn.click()

In [73]:
#locating the location as delhi
filter_button=driver.find_elements_by_xpath('span[@class="fw500"]')
for i in filter_button:
    if i.text=='Delhi / NCR':
        i.click()
        break

In [72]:
#locating the salary
filter_button=driver.find_elements_by_xpath('span[@class="fw500"]/span')
for i in filter_button:
    if i.text=='3-6 Lakhs':
        i.click()
        break

In [74]:
#searching for job title
job_title=[]
title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title[:10]:
    job_title.append(i.text)
job_title

['Data Scientist/Data Analyst /Business Analyst',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Advanced Analytics -Data Scientist',
 'Data Scientist (Early Joiner)',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist || Python || C2H',
 'Data Scientist || Python || C2H',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Data Scientist (Time Series)']

In [75]:
#searching for comany name
company_names=[]
companies=driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"]/a')
for i in companies[:10]:
    company_names.append(i.text)
company_names

['Inflexion Analytix Private Limited',
 'GABA Consultancy services',
 'ERM Placement Services (P) Ltd.',
 'R Systems International Ltd.',
 '(305 Reviews)',
 'TalPro',
 'Growel Softech Pvt. Ltd.',
 'Growel Softech Pvt. Ltd.',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 '(160 Reviews)']

In [76]:
#location
location=[]
area=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in area[:10]:
    location.append(i.text)
location

['Pune, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Greater Noida, Delhi / NCR',
 'New Delhi, Hyderabad/Secunderabad',
 'Noida(Sector-59 Noida)',
 'Gurgaon/Gurugram',
 'Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR']

In [77]:
#experience
experience=[]
total=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
for i in total[:10]:
    experience.append(i.text)
experience

['0-3 Yrs',
 '0-0 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '2-6 Yrs',
 '4-6 Yrs',
 '4-6 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '3-6 Yrs']

In [78]:
#Creating the DataFrame
#importing libraries
import pandas as pd
import numpy as np
jobs=pd.DataFrame({'Job_titles':job_title[:10],'Job_location':location[:10],'Company_names':company_names[:10],'Experience':experience[:10]},index=range(0,10,1))
jobs

,Job_titles,Job_location,Company_names,Experience
0,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Greater Noida, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Advanced Analytics -Data Scientist,"New Delhi, Hyderabad/Secunderabad",ERM Placement Services (P) Ltd.,3-7 Yrs
3,Data Scientist (Early Joiner),Noida(Sector-59 Noida),R Systems International Ltd.,4-8 Yrs
4,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,(305 Reviews),2-6 Yrs
5,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",TalPro,4-6 Yrs
6,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
7,Chaayos is Looking For Data Scientist,New Delhi,Growel Softech Pvt. Ltd.,0-5 Yrs
8,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Chaayos (Sunshine Teahouse Pvt. Ltd.),3-7 Yrs
9,Data Scientist (Time Series),"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR",(160 Reviews),3-6 Yrs

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [31]:
#searching url for glassdoor jobs
url='https://www.glassdoor.co.in/member/home/companies.htm'
#getting url
driver.get(url)

In [49]:
#Searching for the job position
search_title=driver.find_element_by_xpath('//input[@class="css-1etjok6"]')
search_title.send_keys('Data scientist')

In [48]:
#Searching for noida location
search_loc=driver.find_element_by_id("scLocation")
search_loc.send_keys('Noida')

In [54]:
#searching for the search button
search_btn=driver.find_element_by_xpath('//div[@class="d-flex SearchStyles__searchLocationContainer SearchStyles__searchFormInputContainer"]/span')
search_btn.click()

In [62]:
#searching for the company names
company_names=[]
companies=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]/a')
for i in companies[:10]:
    company_names.append(i.text)
len(company_names)

10

In [63]:
#searching for no of days back the job posted
job_posted=[]
days=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
for i in days[:10]:
    job_posted.append(i.text)
len(job_posted)

10

In [64]:
#searching for comany rating
rating=[]
companyrating=driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
for i in companyrating[:10]:
    rating.append(i.text)
rating

['4.2', '4.5', '4.1', '3.8', '', '3.5', '3.7', '4.1', '3.0', '3.9']

In [65]:
glassdoorjobs=pd.DataFrame({'Company_Names':company_names[:10],'No_of_days_ago_posted':job_posted[:10],'Company_Rating':rating[:10]},index=range(0,10,1))
glassdoorjobs[:10]

,Company_Names,No_of_days_ago_posted,Company_Rating
0,Taboola,26d,4.2
1,Salesforce,1d,4.5
2,Ericsson,13d,4.1
3,Crowe,6d,3.8
4,MobiKwik,21d,
5,Lantern Digital Services,24h,3.5
6,Priority Vendor,5d,3.7
7,Siemens Technology and Services Private Limited,18d,4.1
8,Novo,4d,3.0
9,Gauge Data Solutions,5d,3.9

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page 
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company 
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually

In [138]:
#searching url for glassdoor jobs
url='https://www.glassdoor.co.in/Salaries/index.htm'
#getting url
driver.get(url)

In [139]:
#Searching for the job position
search_title=driver.find_element_by_id("KeywordSearch")
search_title.send_keys('Data Scientist')

In [140]:
#Searching for noida location
search_loc=driver.find_element_by_id("LocationSearch")
search_loc.send_keys('Noida')

In [144]:
#searching for the search button
search_btn=driver.find_element_by_id('HeroSearchButton')
search_btn.click()

In [145]:
#searching for the company names
company_names=[]
companies=driver.find_elements_by_xpath('//h3[@class="m-0 css-g261rn"]/a')
for i in companies:
    company_names.append(i.text)
company_names[:10]

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum Global Solutions',
 'ZS Associates']

In [111]:
#searching for number of salaries
total_salaries=[]
salaries=driver.find_elements_by_xpath('//span[@class="m-0 css-1b6bxoo"]')
for i in salaries:
    total_salaries.append(i.text)
total_salaries[2:12]

['18 salaries',
 '17 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '12 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries']

In [115]:
#searching for Average salary
average_salary=[]
salary=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]/h3')
for i in salary:
    average_salary.append(i.text)
average_salary[:10]

['₹9,00,000',
 '₹6,15,289',
 '₹11,63,336',
 '₹xx,xx,xxx',
 '₹x,xx,xxx',
 '₹xx,xx,xxx',
 '₹x,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx']

In [136]:
#searching for minimum salary
min_max_salary=[]
salary=driver.find_elements_by_xpath('//span[@class="d-block d-lg-none m-0 css-1b6bxoo"]')
for i in salary:
    min=i.text
    min_max_salary.append(min)
min_max_salary[:10]

['Range: ₹6L - ₹27L',
 'Range: ₹3L - ₹13L',
 'Range: ₹6L - ₹22L',
 'Range: ₹xL - ₹xCr',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xxL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL']

In [134]:
#searching for rating of the company
rating=[]
companyrating=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
for i in companyrating:
    rating.append(i.text)
rating[:10]

['3.9', '3.9', '4', '3.9', '4', '3.7', '4.2', '3.6', '3.9', '4']

In [137]:
glassdoorsalaries=pd.DataFrame({'Company_Names':company_names[:10],'No_of_salaries':total_salaries[2:12],'Average_salary':average_salary[:10],"Min_Max_salary":min_max_salary[:10],'Company Rating':rating[:10]},index=range(0,10,1))
glassdoorsalaries[:10]

,Company_Names,No_of_salaries,Average_salary,Min_Max_salary,Company Rating
0,IBM,18 salaries,"₹9,00,000",Range: ₹6L - ₹27L,3.9
1,Tata Consultancy Services,17 salaries,"₹6,15,289",Range: ₹3L - ₹13L,3.9
2,Accenture,15 salaries,"₹11,63,336",Range: ₹6L - ₹22L,4
3,Delhivery,15 salaries,"₹xx,xx,xxx",Range: ₹xL - ₹xCr,3.9
4,Ericsson-Worldwide,14 salaries,"₹x,xx,xxx",Range: ₹xL - ₹xxL,4
5,UnitedHealth Group,12 salaries,"₹xx,xx,xxx",Range: ₹xxL - ₹xxL,3.7
6,Valiance Solutions,10 salaries,"₹x,xx,xxx",Range: ₹xL - ₹xxL,4.2
7,EXL Service,9 salaries,"₹xx,xx,xxx",Range: ₹xL - ₹xxL,3.6
8,Optum Global Solutions,9 salaries,"₹xx,xx,xxx",Range: ₹xL - ₹xxL,3.9
9,ZS Associates,8 salaries,"₹xx,xx,xxx",Range: ₹xL - ₹xxL,4

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [331]:
#searching url for 100 sunglasses on filpkart
url='https://www.flipkart.com/'
#getting url
driver.get(url)

In [332]:
#Searching for the sun glasses
search_glasses=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_glasses.send_keys('sunglasses')

In [334]:
urls=[]
for i in driver.find_elements_by_xpath('//*[@class="ge-49M _2Kfbh8" or @class="ge-49M"]'):
    urls.append(i.get_attribute('href'))
urls

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [335]:
#searching for brand
brand=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    search_brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in search_brand[:10]:
        brand.append(i.text)
brand[:100]

['Fravy',
 'ROYAL SON',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'EYELLUSION',
 'Fastrack',
 'PHENOMENAL',
 'United Colors of Benetton',
 'Wrogn',
 'GANSTA',
 'ROYAL SON',
 'GANSTA',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'EYELLUSION',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'Wrogn',
 'GANSTA',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'Rapstar',
 'EYELLUSION',
 'kingsunglasses',
 'Wrogn',
 'Fastrack',
 'NuVew',
 'Fastrack',
 'ROYAL SON',
 'elegante',
 'GANSTA',
 'Fastrack',
 'EYELLUSION',
 'NuVew',
 'Fastrack',
 'ROYAL SON',
 'NuVew',
 'Fastrack',
 'ROYAL SON',
 'GANSTA',
 'NuVew',
 'AISLIN',
 'EYELLUSION',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'hipe',
 'Ray-Ban',
 'ROYAL SON',
 'IRUS by IDEE',
 'GANSTA',
 'GANSTA',
 'EYELLUSION',
 'ROYAL SON',
 'GANSTA',
 'Billion',
 'Silver Kartz',
 'ROYAL SON',
 'Fravy',
 'NuVew',
 'ROZZETTA CRAFT',
 'United Colors of Benetton',
 'ROYAL SON',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'GANSTA',
 'kingsunglasses',
 'Fravy',
 'PHENOMENAL',
 'IZAAN MART',
 'selloria',
 'EYELLUSION',
 'Fastrack',
 'Fastrack',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'Kytsch',
 'PHENOMENAL',
 'United Colors of Benetton',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'United Colors of Benetton',
 'ATA',
 'IDEE',
 'ROYAL SON',
 'Wrogn',
 'I Flash',
 'Fastrack',
 'EYELLUSION',
 'Arko',
 'Fastrack']

In [336]:
#product description
description=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    product=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in product:
        description.append(i.text)
description[:100]

['Polarized, UV Protection Round Sunglasses (49)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'Gradient Rectangular Sunglasses (56)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (54)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Wayfarer Sunglasses (55)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Others Rectangular Sunglasses (56)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored Wayfarer Sunglasses (56)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (88)',
 'Polarized Rectangular Sunglasses (65)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Shield Sunglasses (54)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized Sports Sunglasses (68)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Wayfarer Sunglasses (52)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'Mirrored Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...',
 'UV Protection Aviator Sunglasses (59)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Mirrored Retro Square Sunglasses (57)']

In [337]:
#price
price=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    cost=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in cost:
        price.append(i.text)
price[:100]

['₹339',
 '₹664',
 '₹299',
 '₹513',
 '₹682',
 '₹529',
 '₹237',
 '₹207',
 '₹529',
 '₹399',
 '₹976',
 '₹479',
 '₹499',
 '₹213',
 '₹677',
 '₹295',
 '₹649',
 '₹331',
 '₹499',
 '₹379',
 '₹319',
 '₹592',
 '₹349',
 '₹845',
 '₹499',
 '₹299',
 '₹426',
 '₹349',
 '₹426',
 '₹647',
 '₹251',
 '₹499',
 '₹349',
 '₹215',
 '₹189',
 '₹664',
 '₹404',
 '₹205',
 '₹619',
 '₹449',
 '₹281',
 '₹359',
 '₹499',
 '₹664',
 '₹499',
 '₹219',
 '₹609',
 '₹207',
 '₹474',
 '₹339',
 '₹379',
 '₹479',
 '₹699',
 '₹235',
 '₹299',
 '₹295',
 '₹474',
 '₹314',
 '₹197',
 '₹349',
 '₹699',
 '₹249',
 '₹574',
 '₹845',
 '₹699',
 '₹225',
 '₹1,219',
 '₹664',
 '₹589',
 '₹252',
 '₹284',
 '₹499',
 '₹545',
 '₹449',
 '₹1,234',
 '₹398',
 '₹2,899',
 '₹246',
 '₹1,199',
 '₹379',
 '₹564',
 '₹639',
 '₹207',
 '₹339',
 '₹1,033',
 '₹249',
 '₹179',
 '₹664',
 '₹299',
 '₹709',
 '₹1,003',
 '₹207',
 '₹260',
 '₹479',
 '₹265',
 '₹295',
 '₹539',
 '₹214',
 '₹639',
 '₹379']

In [338]:
#finding discount
discount=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    discountprice=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    for i in discountprice[:10]:
        discount.append(i.text)
discount

['83% off',
 '66% off',
 '88% off',
 '₹286 off',
 '₹217 off',
 '41% off',
 '85% off',
 '79% off',
 '41% off',
 '80% off',
 '85% off',
 '72% off',
 '77% off',
 '66% off',
 '66% off',
 '72% off',
 '76% off',
 '79% off',
 '78% off',
 '83% off',
 '₹235 off',
 '75% off',
 '88% off',
 '83% off',
 '₹266 off',
 '79% off',
 '92% off',
 '66% off',
 '80% off',
 '76% off',
 '83% off',
 '71% off',
 '66% off',
 '86% off',
 '78% off',
 '79% off',
 '72% off',
 '₹206 off',
 '₹148 off',
 '76% off',
 '57% off',
 '75% off',
 '₹145 off',
 '83% off',
 '73% off',
 '74% off',
 '69% off',
 '66% off',
 '85% off',
 '77% off',
 '75% off',
 '10% off',
 '58% off',
 '66% off',
 '85% off',
 '73% off',
 '77% off',
 '79% off',
 '73% off',
 '91% off',
 '76% off',
 '78% off',
 '65% off',
 '83% off',
 '77% off',
 '78% off',
 '69% off',
 '66% off',
 '71% off',
 '₹151 off',
 '40% off',
 '85% off',
 '82% off',
 '32% off',
 '81% off',
 '80% off',
 '80% off',
 '79% off',
 '26% off',
 '₹290 off',
 '81% off',
 '₹200 off',
 '₹300 off',
 '66% off',
 '80% off',
 '84% off',
 '79% off',
 '79% off',
 '₹190 off',
 '54% off',
 '78% off',
 '73% off',
 '83% off',
 '83% off',
 '80% off',
 '85% off',
 '83% off',
 '66% off',
 '62% off',
 '79% off']

In [340]:
import pandas as pd
sunglasses=pd.DataFrame({'Product_brand':brand[:100],'Product_description':description[:100],'Product_price':price[:100],'Product_discount':discount[:100]},index=range(0,100,1))
sunglasses

,Product_brand,Product_description,Product_price,Product_discount
0,Fravy,"Polarized, UV Protection Round Sunglasses (49)",₹339,83% off
1,ROYAL SON,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹664,66% off
2,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹299,88% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹513,₹286 off
4,Fastrack,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹682,₹217 off
...,...,...,...,...
95,I Flash,UV Protection Wrap-around Sunglasses (Free Size),₹295,85% off
96,Fastrack,"Toughened Glass Lens, UV Protection Wayfarer, ...",₹539,83% off
97,EYELLUSION,Mirrored Aviator Sunglasses (53),₹214,66% off
98,Arko,UV Protection Wrap-around Sunglasses (Free Size),₹639,62% off
99,Fastrack,Mirrored Retro Square Sunglasses (57),₹379,79% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews

In [280]:
#searching for filpkart URL
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'
#getting url
driver.get(url)

In [298]:
urls=[]
for i in driver.find_elements_by_xpath('//*[@class="ge-49M _2Kfbh8" or @class="ge-49M"]'):
    urls.append(i.get_attribute('href'))
urls

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [300]:
#searching for rating of the product
rating=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    productrating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for i in productrating:
        rating.append(i.text)
len(rating)

98

In [301]:
#review summary
review_summary=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for i in summary:
        review_summary.append(i.text)
len(review_summary)

100

In [302]:
#full summary
full_reviews=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in reviews:
        full_reviews.append(i.text)
len(full_reviews)

100

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
 
Also note that all the steps required during scraping should be done through code 
only and not manually.

In [303]:
#searching url for 100 sneakers on filpkart
url='https://www.flipkart.com/'
#getting url
driver.get(url)

In [304]:
#Searching for the sun glasses
search_sneakers=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_sneakers.send_keys('sneakers')

In [307]:
urls=[]
for i in driver.find_elements_by_xpath('//*[@class="ge-49M _2Kfbh8" or @class="ge-49M"]'):
    urls.append(i.get_attribute('href'))
urls

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [314]:
#searching for brand
brand=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoebrand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in shoebrand[:100]:
        brand.append(i.text)
brand

['City Soles',
 'Echor',
 'Robbie jones',
 'Shoes Bank',
 'PEHANOSA',
 'ESSENCE',
 'CALCADOS',
 'Chevit',
 'Robbie jones',
 'Birde',
 'Kraasa',
 'TR',
 'Numenzo',
 'Chevit',
 'SCATCHITE',
 'Echor',
 'bluemaker',
 'D-SNEAKERZ',
 'SPARX',
 'PEXLO',
 'Arohi',
 'restinfoot',
 'KULP',
 'PUMA',
 'ASTEROID',
 'India hub',
 'believe',
 'RODDICK SHOES',
 'World Wear Footwear',
 'Chevit',
 'bluemaker',
 'U.S. POLO ASSN.',
 'Jokatoo',
 'Stefano Rads',
 'DUCATI',
 'RODDICK SHOES',
 'Magnolia',
 'BRUTON',
 'Magnolia',
 'JUBENTA',
 'DUCATI',
 'ESSENCE',
 'Robbie jones',
 'City Soles',
 'Bonexy',
 'Converse',
 'Birde',
 'Echor',
 'ADIDAS',
 'Zsyto',
 'NIKE',
 'Chevit',
 'CAMPUS',
 'BRUTON',
 'D-SNEAKERZ',
 'Chevit',
 'JACK & JONES',
 'T-ROCK',
 'Raftar',
 'Echor',
 'ESSENCE',
 'SPARX',
 'SPARX',
 'TR',
 'Zsyto',
 'ESSENCE',
 'BXXY',
 'Robbie jones',
 'ADIDAS',
 'PROVOGUE',
 'PUMA',
 'Robbie jones',
 'T-ROCK',
 "LEVI'S",
 'DUCATI',
 'Chevit',
 'REEBOK',
 'PUMA',
 'Ktiz',
 'JUBENTA',
 'Jack Diamond',
 'SPARX',
 'World Wear Footwear',
 'City Soles',
 'SPARX',
 'BRUTON',
 'U.S. POLO ASSN.',
 'Echor',
 'New Balance',
 'Wakefield',
 'JACK & JONES',
 'Chevit',
 'ESSENCE',
 'BRUTON',
 'Robbie jones',
 'TR',
 'U.S. POLO ASSN.',
 'Wakefield',
 'SPARX',
 'Echor',
 'PUMA',
 'Svpanther',
 'RED CHIEF',
 'Robbie jones',
 'PUMA',
 'Zixer',
 'DUCATI',
 'Robbie jones',
 'Chevit',
 'Skechers',
 'Absolute comfort',
 'Chevit',
 'Absolute comfort',
 'FILA',
 'PUMA',
 'PEXLO',
 'Nilatin',
 'World Wear Footwear',
 'Birde',
 'RODDICK SHOES',
 'Englewood',
 'BRUTON',
 'PUMA',
 'Chevit',
 'PUMA',
 'Extoes',
 'Fzzirok',
 'Chevit',
 'SHILISHA',
 'DUCATI',
 'HOCKWOOD',
 'Echor',
 'Tying',
 'ADIDAS',
 'SPARX',
 'Jumpink',
 'Vellinto',
 'Robbie jones',
 'PUMA',
 'TR',
 'Chevit',
 'DUCATI',
 'Robbie jones',
 'Echor',
 'PUMA',
 'PUMA',
 'Absolute comfort',
 'Robbie jones',
 'Birde',
 'PUMA',
 'ESSENCE',
 'Robbie jones',
 'NIKE',
 'SUSON',
 'RED TAPE',
 'Chevit',
 'ESSENCE',
 'Wrogn',
 'Chevit',
 'ROCKFIELD',
 'sneaker hub',
 'RED TAPE',
 'JACK & JONES',
 'City Soles',
 'RED TAPE',
 'PUMA',
 'JACK & JONES',
 'Echor',
 'ORICUM',
 'PUMA',
 'RED CHIEF',
 'Chevit',
 'BRUTON',
 'Xtoon',
 'French Connection',
 'Chevit',
 'French Connection',
 'World Wear Footwear',
 'RED TAPE',
 'Echor',
 'SPARX',
 'Wrogn',
 'Wrogn',
 'Robbie jones',
 'ADIDAS',
 'Birde',
 'BRUTON',
 'Robbie jones',
 'KULP',
 'tigonis',
 'PUMA',
 'Chevit',
 'URBANBOX',
 'HOCKWOOD',
 'ASTEROID',
 'PEXLO',
 'PUMA',
 'BRUTON',
 'NIKE',
 'RODDICK SHOES',
 'PUMA',
 'Wrogn',
 'PROVOGUE',
 'Chevit',
 'PUMA',
 'ADIDAS',
 'PROVOGUE',
 'Chevit',
 'SUSON',
 'ADIDAS',
 'PUMA',
 'Echor',
 'PUMA',
 'PUMA',
 'Axter',
 'Jumpink',
 'PUMA',
 'PUMA',
 'ozzy',
 'TR',
 'Skechers',
 'RED TAPE',
 'Zorth',
 'Echor',
 'PUMA',
 'Converse',
 'French Connection',
 'Robbie jones',
 'Creer',
 'PUMA',
 'Robbie jones',
 'Chevit',
 'well feet',
 'Zixer',
 'SPARX',
 'ROCKFIELD',
 'ESSENCE',
 'West Code',
 'RED TAPE',
 'Robbie jones',
 'KANEGGYE',
 'Zorth',
 'PUMA',
 'City Soles',
 'Layasa',
 'SPARX',
 'PUMA',
 'Chevit',
 'WOODLAND',
 'Wrogn',
 'Chevit',
 'Chevit',
 'Aura',
 'SHOEFLY',
 'bacca bucci',
 'Echor',
 'WOODLAND',
 'HOTSTYLE',
 'United Colors of Benetton',
 'TR',
 'United Colors of Benetton',
 'PUMA',
 'SHOELIFE',
 'Echor',
 'bacca bucci',
 'PUMA',
 'PUMA',
 'Chevit',
 'Zorth',
 'Zorth',
 'PUMA',
 'Robbie jones',
 'bacca bucci',
 'Jack Diamond',
 'PUMA',
 'PEXLO',
 'FILA',
 'PUMA',
 'LoveHush',
 'PUMA',
 'PUMA',
 'Labbin',
 'Magnolia',
 'City Soles',
 'BRUTON',
 'PUMA',
 'NIKE',
 'Echor',
 'United Colors of Benetton',
 'Skechers',
 'RED TAPE',
 'Chevit',
 'Bond Street By Red Tape',
 'PUMA',
 'FILA',
 'Chevit',
 'LEE COOPER',
 'NIKE',
 'PUMA',
 'Echor',
 'French Connection',
 'Wrogn',
 'PUMA',
 'TR',
 'Nilatin',
 'French Connection',
 'Dicy',
 'Robbie jones',
 'D-SNEAKERZ',
 'ESSENCE',
 "LEVI'S",
 'Robbie jones',
 'Wrogn',
 'PUMA',
 'Adiso',
 'Chevit',
 'SPARX',
 'Bonexy',
 'Skechers',
 'PEXLO',
 'PROVOGUE',
 'Numenzo',
 'Labbin',
 'City Soles',
 'BRUTON',
 'believe',
 'kardam&sons',
 'Echor',
 'PUMA',
 'Skechers',
 '3SIX5',
 'Chevit',
 'luxury fashion',
 'Robbie jones',
 'BornStyle',
 'TR',
 'World Wear Footwear',
 'Robbie jones',
 'SPARX',
 'Chevit',
 'BLACK BOTTOM',
 'Wrogn',
 'luxury fashion',
 'Echor',
 'NIKE',
 'U.S. POLO ASSN.',
 'Chevit',
 'Robbie jones',
 'United Colors of Benetton',
 'HOTSTYLE',
 'PUMA',
 'Robbie jones',
 'RED TAPE',
 'Hzisko',
 'HOC',
 'Chevit',
 "LEVI'S",
 'TENN SPORTS',
 'Ktiz',
 'PEXLO',
 'Qtsy',
 'Zsyto',
 'RED CHIEF',
 'City Soles',
 'U.S. POLO ASSN.',
 'RODDICK SHOES',
 'SPARX',
 'Echor',
 'kardam&sons',
 'believe',
 'kardam&sons',
 'Chevit',
 'Skechers',
 'NIKE',
 'PUMA',
 'TR',
 'Absolute comfort',
 'Axter',
 'PUMA',
 'Chevit',
 'Chevit',
 'kardam&sons',
 'SPARX',
 'Echor',
 'Zorth',
 'NIKE',
 'Robbie jones',
 'Robbie jones',
 'Numenzo',
 'ESSENCE',
 'Old Skool',
 'Robbie jones',
 'kardam&sons',
 'STRANGER BROTHERS',
 'Fzzirok',
 'Chevit',
 'Jack Diamond',
 'RED TAPE',
 'mannu',
 'PEXLO']

In [313]:
#searching for brand
description=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    productdescription=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in productdescription[:100]:
        description.append(i.text)
description

['shoes for boys Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Casuals Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Sneakers Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'SM-322 Sneakers For Men',
 'Combo Pack of 3 Casual Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'heart beat Sneakers For Men',
 'Puma Smash v2 Buck Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Men & Boys Stylish, Comfortable Mesh Shoes With Soft La...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'casual for men (beige 06) Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'Latest Design Sneakers For Men',
 'Sneakers For Men',
 'Trendy Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Adiset M Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Combo Pack of 5 Casual Shoes Loafers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Court Royale AC Sneakers For Men',
 'Synthetic Leather Casual Sneakers Shoes For Men Sneaker...',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'JFWGEORGE KNIT LACE UP Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'STYLISH SNEAKERS Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'SM-162 Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Sneakers For Men',
 "Bxxy's Mens Faux Leather stylish Casual with strap lace...",
 'Sneakers For Men',
 'Breaknet Sneakers For Men',
 'PRO-NP-AW08 Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'INDI EXCLUSIVE Sneakers For Men',
 'Puma Flex Renew Sneakers For Men',
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'TREAD LITE LUX Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 Buck Sneakers For Men',
 'Combo Pack of 3 Casual Sneakers Shoes Sneakers For Men',
 'SM-162 Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'X70 Sneakers For Men',
 'Sneakers For Men',
 'JFWGEORGE KNIT LACE UP Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Trendy Sneakers For Men',
 'Men Combo Pack of 2 Casual & Sneaker Shoes (Loafer Shoe...',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'shoes for boys Sneakers For Men',
 'Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Sneakers For Men',
 'BMW MMS Kart Cat-X Tech Sneakers For Men',
 'RC3522 107 Sneakers For Men',
 'Sneakers For Men',
 'Simha IDP Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Summits - Brisbane Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Sneakers For Men',
 'JESS Sneakers For Men',
 'Trenzo II IDP Sneakers For Men',
 'Combo Pack of 3 Casual Sneakers Shoes Sneakers For Men',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 "Men's Stylish Casual Shoes Sneakers For Men",
 'Men & Boys Stylish, Comfortable Mesh Shoes With Soft La...',
 'Trendy Fashion Sports Combo Pack Of 3 Pairs Outdoor Run...',
 'Cape IDP Sneakers For Men',
 'Ralph Sampson Vulc Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'sports shoes for men | Latest Stylish Casual sneakers f...',
 'Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Model name: New Latest Affordable Range of Combo Pack o...',
 'Vs Pace Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men And Boys Sneakers For Men',
 'Rigel IDP Sneakers For Men',
 'Sneakers For Men',
 "Super & Trendy Men's Pack of 02 Pair Shoes for Boys Cas...",
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Poise Perf V1 IDP Sneakers For Men',
 'Slyde Knit IDP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Puma Wired Cage Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 "Nike Court Royale 2 Low Men's Shoe Sneakers For Men",
 'Gym/Walking/Running Sneakers For Men',
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Trendy Sneakers For Men',
 'Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Latest Design Sneakers For Men',
 'Sneakers For Men',
 'JFWBENNY KNIT SLIP ON Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Sneakers For Men',
 'Icon IDP Sneakers For Men',
 'JFWBANNA PRINT PU Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'SF R-cat Sneakers For Men',
 'Sneakers For Men',
 'HHM Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection-349 Stylish Casual Sports Sneakers Fo...',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'SM-607 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Easy Vulc 2.0 Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Loafers Sneakers For Men',
 'Combo Pack Of 3 Loafer Shoes Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 'Simha IDP Sneakers For Men',
 'Sneakers For Men',
 'Skate Board White Shoes Men Running Flat PU Sneakers Ma...',
 'Combo Pack of 2 New Fashion Casual Loafers Sneakers Sne...',
 'Lazy Knit Slip On IDP Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Court Vision Low Premium Sneakers For Men',
 'Combo Pack of 3 Casual Sneakers Shoes Sneakers For Men',
 'Men Boxer Sneakers For Men',
 'Foxster XT IDP Sneakers For Men',
 'Sneakers For Men',
 'Acrux IDP Sneakers For Men',
 'Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Advantage Sneakers For Men',
 'Fuser IDP Sneakers For Men',
 'Gym/Walking/Running Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Combo Pack of 2 Latest Collection Stylish Casual Loafer...',
 'Puma Smash v2 L Perf Puma White-Puma Whi Sneakers For M...',
 'Cape IDP Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Puma Smash v2 Sneakers For Men',
 'Backcourt SL Sneakers For Men',
 'Stylish & Latest Shoes for Men & Boys Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Summits - Brisbane Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'Sneakers For Men',
 'BMW MMS Future Kart Cat Sneakers For Men',
 'Sneakers For Men',
 'Flex R Dual IDP Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'sneaker for mens and boys Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Design Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'BMW MMS Future Kart Cat Sneakers For Men',
 'Walking shoes,Casual Sneakers For Men',
 'SF R-cat Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Sneakers For Men',
 'Rebound LayUp Lo SL Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashion Sneakers Sneakers For Men',
 'Salz NU IDP Sneakers For Men',
 'Slyde Knit IDP Sneakers For Men',
 'Sneakers For Men',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'Puma Rebound LayUp SL Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Mens Ultraforce Mid-top Athletic-Inspired Retro Fashion...',
 'Rigel IDP Sneakers For Men',
 'Latest Design Sneakers For Men',
 'AERO Sneakers For Men',
 'Uprise Knit Sneakers For Men',
 "Men's Denim Casual Sneakers Jeans Shoes Sneakers For Me...",
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Puma Wired Cage Sneakers For Men',
 'Sneakers For Men',
 'Inspired Dectron Sneakers For Men',
 'Combo Pack of 2 Sports Running LightWeight Shoes Sneake...',
 'Cardif Slip on IDP Sneakers For Men',
 'Reposto Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Sneakers For Men',
 'Equalizer 4.0 Trx - Quintise Sneakers For Men',
 'Classic Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Cape IDP Sneakers For Men',
 'Emeril Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Men Sneakers For Men',
 'Court Vision Low Sneakers For Men',
 'Smash v2 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Escaper Core Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'Black Sneaker For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Bl...",
 'Sneakers For Men',
 "Levi's Baylor Sneakers Sneakers For Men",
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Smash v2 Mid L Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Men 192 Sneakers For Men',
 'Elite Flex - Corriedale Sneakers For Men',
 'Latest Design Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneaker Sneakers For Men',
 'Sneakers For Men',
 'Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...',
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 'shoes for boys Sneakers For Men',
 'Ferrari Race Kart Cat-X Tech Mid Sneakers For Men',
 'Modern Jogger 2.0 - Switzer Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'shoes for boys Sneakers For Men',
 'Stylish Casual Sneakers Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Partywear Sn...',
 'Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'SB Heritage Vulc Skate Sneakers For Men',
 'ELMO Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Combo Pack of 3 Casual Sneakers Shoes Sneakers For Men',
 'AACHEN Sneakers For Men',
 'Canvas Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Stylish Design Sneakers Shoes Combo For Men & Boys - Pa...',
 'Sneakers For Men',
 'Sneakers For Men',
 'shoes for boys Sneakers For Men',
 'PANAL Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sparx sm323 Sneakers For Men',
 'Sneakers For Men',
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 'Bounder Sneakers For Men',
 'SB CHECK SOLAR CNVS Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'HHM Sneakers For Men',
 'COMBO-PACK-(3)-SNEAKER-WRBT Sneakers For Men',
 'FUTURE RIDER PLAY ON Sneakers For Men',
 'Sneakers For Men',
 'Affordable Combo Pack of 02 Pairs Sneakers Outdoor Loaf...',
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'Court Legacy Sneakers For Men',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Trendy Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 "Karda Casual Sneakers and Gym Shoes for Men's and Boys ...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Leather Sneakers For Men',
 'mnnu casual running shoes, walking shoes, Sneakers For ...',
 'Combo Pack of 2 New Fashion Casual Loafers Sneakers Sne...']

In [315]:
#searching for brand
price=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoeprice=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in shoeprice[:100]:
        price.append(i.text)
price

['₹664',
 '₹499',
 '₹379',
 '₹349',
 '₹499',
 '₹399',
 '₹748',
 '₹474',
 '₹474',
 '₹588',
 '₹471',
 '₹499',
 '₹449',
 '₹683',
 '₹398',
 '₹539',
 '₹424',
 '₹365',
 '₹769',
 '₹1,499',
 '₹439',
 '₹379',
 '₹399',
 '₹512',
 '₹549',
 '₹369',
 '₹399',
 '₹661',
 '₹240',
 '₹425',
 '₹379',
 '₹1,710',
 '₹418',
 '₹242',
 '₹1,039',
 '₹499',
 '₹398',
 '₹474',
 '₹348',
 '₹499',
 '₹1,259',
 '₹442',
 '₹449',
 '₹664',
 '₹449',
 '₹499',
 '₹1,639',
 '₹499',
 '₹588',
 '₹1,399',
 '₹398',
 '₹470',
 '₹2,472',
 '₹1,329',
 '₹399',
 '₹474',
 '₹999',
 '₹384',
 '₹429',
 '₹499',
 '₹399',
 '₹999',
 '₹730',
 '₹539',
 '₹278',
 '₹442',
 '₹397',
 '₹474',
 '₹2,099',
 '₹819',
 '₹378',
 '₹379',
 '₹1,048',
 '₹1,751',
 '₹1,149',
 '₹759',
 '₹1,047',
 '₹340',
 '₹1,499',
 '₹661',
 '₹635',
 '₹749',
 '₹240',
 '₹664',
 '₹989',
 '₹699',
 '₹1,048',
 '₹499',
 '₹2,664',
 '₹225',
 '₹999',
 '₹470',
 '₹442',
 '₹399',
 '₹499',
 '₹539',
 '₹1,329',
 '₹198',
 '₹629',
 '₹499',
 '₹4,949',
 '₹499',
 '₹2,069',
 '₹474',
 '₹1,500',
 '₹199',
 '₹1,509',
 '₹379',
 '₹474',
 '₹2,086',
 '₹189',
 '₹759',
 '₹284',
 '₹1,649',
 '₹1,589',
 '₹661',
 '₹407',
 '₹240',
 '₹252',
 '₹499',
 '₹474',
 '₹599',
 '₹1,645',
 '₹664',
 '₹2,269',
 '₹789',
 '₹399',
 '₹499',
 '₹449',
 '₹1,439',
 '₹656',
 '₹474',
 '₹898',
 '₹1,819',
 '₹799',
 '₹470',
 '₹519',
 '₹474',
 '₹1,204',
 '₹499',
 '₹448',
 '₹1,179',
 '₹474',
 '₹539',
 '₹1,593',
 '₹1,500',
 '₹298',
 '₹474',
 '₹673',
 '₹1,854',
 '₹442',
 '₹379',
 '₹2,796',
 '₹308',
 '₹1,379',
 '₹759',
 '₹442',
 '₹997',
 '₹425',
 '₹661',
 '₹398',
 '₹1,409',
 '₹1,049',
 '₹664',
 '₹1,559',
 '₹1,333',
 '₹999',
 '₹499',
 '₹419',
 '₹3,989',
 '₹1,679',
 '₹470',
 '₹302',
 '₹359',
 '₹899',
 '₹474',
 '₹699',
 '₹199',
 '₹1,559',
 '₹499',
 '₹699',
 '₹500',
 '₹1,048',
 '₹474',
 '₹1,715',
 '₹420',
 '₹474',
 '₹379',
 '₹449',
 '₹379',
 '₹1,410',
 '₹759',
 '₹199',
 '₹699',
 '₹474',
 '₹661',
 '₹1,499',
 '₹449',
 '₹3,297',
 '₹499',
 '₹1,419',
 '₹999',
 '₹577',
 '₹664',
 '₹1,432',
 '₹2,756',
 '₹619',
 '₹499',
 '₹399',
 '₹1,715',
 '₹1,665',
 '₹470',
 '₹1,645',
 '₹2,000',
 '₹405',
 '₹474',
 '₹2,487',
 '₹2,279',
 '₹464',
 '₹539',
 '₹2,364',
 '₹1,409',
 '₹449',
 '₹499',
 '₹3,709',
 '₹1,399',
 '₹1,048',
 '₹474',
 '₹298',
 '₹1,555',
 '₹428',
 '₹379',
 '₹399',
 '₹555',
 '₹630',
 '₹759',
 '₹424',
 '₹1,138',
 '₹1,318',
 '₹661',
 '₹389',
 '₹428',
 '₹3,709',
 '₹664',
 '₹297',
 '₹620',
 '₹3,919',
 '₹474',
 '₹2,796',
 '₹600',
 '₹284',
 '₹470',
 '₹949',
 '₹362',
 '₹1,299',
 '₹499',
 '₹2,936',
 '₹283',
 '₹1,048',
 '₹539',
 '₹1,499',
 '₹2,225',
 '₹426',
 '₹499',
 '₹899',
 '₹1,380',
 '₹1,409',
 '₹759',
 '₹449',
 '₹443',
 '₹2,649',
 '₹474',
 '₹899',
 '₹615',
 '₹1,047',
 '₹661',
 '₹808',
 '₹2,474',
 '₹438',
 '₹1,499',
 '₹1,854',
 '₹380',
 '₹499',
 '₹664',
 '₹459',
 '₹1,720',
 '₹4,077',
 '₹499',
 '₹924',
 '₹2,884',
 '₹1,678',
 '₹470',
 '₹958',
 '₹1,750',
 '₹1,012',
 '₹474',
 '₹2,699',
 '₹4,196',
 '₹2,119',
 '₹539',
 '₹699',
 '₹500',
 '₹1,365',
 '₹499',
 '₹449',
 '₹979',
 '₹392',
 '₹474',
 '₹427',
 '₹442',
 '₹1,399',
 '₹379',
 '₹840',
 '₹2,070',
 '₹199',
 '₹759',
 '₹760',
 '₹399',
 '₹3,258',
 '₹661',
 '₹639',
 '₹512',
 '₹499',
 '₹664',
 '₹359',
 '₹399',
 '₹379',
 '₹499',
 '₹4,077',
 '₹3,428',
 '₹465',
 '₹470',
 '₹448',
 '₹499',
 '₹259',
 '₹474',
 '₹267',
 '₹499',
 '₹649',
 '₹499',
 '₹449',
 '₹500',
 '₹379',
 '₹539',
 '₹3,297',
 '₹1,349',
 '₹350',
 '₹474',
 '₹1,849',
 '₹283',
 '₹3,439',
 '₹379',
 '₹1,228',
 '₹428',
 '₹378',
 '₹759',
 '₹1,259',
 '₹449',
 '₹449',
 '₹661',
 '₹396',
 '₹398',
 '₹1,889',
 '₹664',
 '₹1,799',
 '₹499',
 '₹689',
 '₹499',
 '₹430',
 '₹399',
 '₹430',
 '₹470',
 '₹2,425',
 '₹1,611',
 '₹1,784',
 '₹474',
 '₹474',
 '₹498',
 '₹3,000',
 '₹499',
 '₹538',
 '₹410',
 '₹760',
 '₹539',
 '₹450',
 '₹2,796',
 '₹499',
 '₹474',
 '₹407',
 '₹442',
 '₹1,185',
 '₹379',
 '₹410',
 '₹499',
 '₹399',
 '₹512',
 '₹630',
 '₹1,049',
 '₹378',
 '₹759']

In [316]:
#discount
discount=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    discountprice=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    for i in discountprice:
        discount.append(i.text)
discount

['₹335 off',
 '50% off',
 '62% off',
 '65% off',
 '50% off',
 '60% off',
 '62% off',
 '76% off',
 '52% off',
 '70% off',
 '52% off',
 '50% off',
 '77% off',
 '72% off',
 '60% off',
 '73% off',
 '57% off',
 '44% off',
 '₹230 off',
 '72% off',
 '56% off',
 '62% off',
 '60% off',
 '57% off',
 '72% off',
 '87% off',
 '60% off',
 '50% off',
 '51% off',
 '71% off',
 '62% off',
 '54% off',
 '71% off',
 '65% off',
 '71% off',
 '50% off',
 '60% off',
 '88% off',
 '65% off',
 '48% off',
 '65% off',
 '55% off',
 '55% off',
 '₹335 off',
 '55% off',
 '87% off',
 '54% off',
 '50% off',
 '76% off',
 '60% off',
 '60% off',
 '68% off',
 '45% off',
 '30% off',
 '60% off',
 '76% off',
 '75% off',
 '61% off',
 '57% off',
 '50% off',
 '60% off',
 '₹299 off',
 '₹219 off',
 '73% off',
 '78% off',
 '55% off',
 '60% off',
 '52% off',
 '54% off',
 '60% off',
 '62% off',
 '62% off',
 '62% off',
 '56% off',
 '68% off',
 '69% off',
 '54% off',
 '65% off',
 '57% off',
 '72% off',
 '₹364 off',
 '₹200 off',
 '51% off',
 '₹335 off',
 '₹296 off',
 '82% off',
 '69% off',
 '50% off',
 '61% off',
 '55% off',
 '75% off',
 '68% off',
 '55% off',
 '83% off',
 '50% off',
 '50% off',
 '65% off',
 '60% off',
 '₹120 off',
 '73% off',
 '45% off',
 '50% off',
 '55% off',
 '52% off',
 '49% off',
 '80% off',
 '58% off',
 '62% off',
 '76% off',
 '51% off',
 '62% off',
 '69% off',
 '71% off',
 '50% off',
 '47% off',
 '72% off',
 '68% off',
 '51% off',
 '49% off',
 '50% off',
 '80% off',
 '58% off',
 '47% off',
 '₹335 off',
 '60% off',
 '55% off',
 '52% off',
 '50% off',
 '60% off',
 '₹343 off',
 '55% off',
 '76% off',
 '54% off',
 '60% off',
 '68% off',
 '68% off',
 '56% off',
 '52% off',
 '60% off',
 '73% off',
 '52% off',
 '77% off',
 '49% off',
 '50% off',
 '66% off',
 '70% off',
 '55% off',
 '52% off',
 '47% off',
 '30% off',
 '69% off',
 '62% off',
 '55% off',
 '70% off',
 '57% off',
 '69% off',
 '65% off',
 '79% off',
 '51% off',
 '72% off',
 '₹101 off',
 '70% off',
 '65% off',
 '₹335 off',
 '70% off',
 '59% off',
 '75% off',
 '50% off',
 '58% off',
 '43% off',
 '60% off',
 '68% off',
 '87% off',
 '64% off',
 '75% off',
 '76% off',
 '75% off',
 '60% off',
 '70% off',
 '50% off',
 '₹100 off',
 '74% off',
 '58% off',
 '52% off',
 '54% off',
 '78% off',
 '83% off',
 '62% off',
 '55% off',
 '78% off',
 '52% off',
 '69% off',
 '60% off',
 '₹300 off',
 '52% off',
 '72% off',
 '50% off',
 '87% off',
 '45% off',
 '50% off',
 '56% off',
 '60% off',
 '55% off',
 '₹335 off',
 '59% off',
 '54% off',
 '52% off',
 '50% off',
 '60% off',
 '54% off',
 '40% off',
 '68% off',
 '52% off',
 '49% off',
 '59% off',
 '76% off',
 '58% off',
 '43% off',
 '53% off',
 '50% off',
 '45% off',
 '70% off',
 '55% off',
 '73% off',
 '47% off',
 '60% off',
 '70% off',
 '52% off',
 '70% off',
 '59% off',
 '57% off',
 '62% off',
 '₹200 off',
 '44% off',
 '₹119 off',
 '69% off',
 '57% off',
 '71% off',
 '70% off',
 '72% off',
 '₹110 off',
 '57% off',
 '47% off',
 '₹335 off',
 '70% off',
 '₹129 off',
 '44% off',
 '50% off',
 '30% off',
 '74% off',
 '43% off',
 '68% off',
 '52% off',
 '72% off',
 '56% off',
 '76% off',
 '30% off',
 '43% off',
 '67% off',
 '50% off',
 '50% off',
 '55% off',
 '57% off',
 '73% off',
 '64% off',
 '53% off',
 '53% off',
 '52% off',
 '55% off',
 '55% off',
 '47% off',
 '62% off',
 '64% off',
 '₹384 off',
 '62% off',
 '69% off',
 '64% off',
 '55% off',
 '56% off',
 '72% off',
 '47% off',
 '61% off',
 '50% off',
 '₹335 off',
 '81% off',
 '56% off',
 '40% off',
 '50% off',
 '75% off',
 '55% off',
 '70% off',
 '68% off',
 '70% off',
 '49% off',
 '67% off',
 '76% off',
 '30% off',
 '47% off',
 '50% off',
 '75% off',
 '74% off',
 '60% off',
 '73% off',
 '65% off',
 '65% off',
 '₹207 off',
 '52% off',
 '57% off',
 '55% off',
 '60% off',
 '62% off',
 '69% off',
 '53% off',
 '80% off',
 '69% off',
 '38% off',
 '60% off',
 '53% off',
 '48% off',
 '68% off',
 '48% off',
 '50% off',
 '₹335 off',
 '85% off',
 '60% off',
 '77% off',
 '50% off',
 '59% off',
 '54% off',
 '59% off',
 '68% off',
 '77% off',
 '50% off',
 '48% off',
 '76% off',
 '46% off',
 '50% off',
 '₹50 off',
 '50% off',
 '55% off',
 '74% off',
 '87% off',
 '73% off',
 '40% off',
 '55% off',
 '₹149 off',
 '52% off',
 '50% off',
 '43% off',
 '57% off',
 '62% off',
 '70% off',
 '57% off',
 '70% off',
 '69% off',
 '55% off',
 '50% off',
 '65% off',
 '72% off',
 '50% off',
 '69% off',
 '55% off',
 '₹335 off',
 '40% off',
 '50% off',
 '₹60 off',
 '50% off',
 '74% off',
 '60% off',
 '74% off',
 '73% off',
 '55% off',
 '66% off',
 '49% off',
 '50% off',
 '68% off',
 '62% off',
 '49% off',
 '76% off',
 '58% off',
 '75% off',
 '41% off',
 '52% off',
 '54% off',
 '30% off',
 '50% off',
 '68% off',
 '59% off',
 '55% off',
 '70% off',
 '62% off',
 '75% off',
 '50% off',
 '60% off',
 '72% off',
 '₹369 off',
 '79% off',
 '62% off',
 '50% off']

### Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
the below imageWEB SCRAPING ASSIGNMENT-2
.
And then scrape First 100 shoes data you get. The data should include “Brand” of 
the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [317]:
#searching for myntra shoes url
url='https://www.myntra.com/shoes'
#getting url
driver.get(url)

In [318]:
#searching for fliter
filter=driver.find_element_by_xpath('//span[@class="header-title"]')
filter.click()

In [319]:
#setting price filter
price_filter=driver.find_element_by_xpath('//span[@class="vertical-filters-header"]')
price_filter.click()

In [320]:
#checking for black colour
colour=driver.find_element_by_xpath('//li[@class="colour-listItem"]')
colour.click()

In [325]:
urls=[]
for i in driver.find_elements_by_xpath('//li[@class="pagination-active" or @class="pagination-number"]/a'):
    urls.append(i.get_attribute('href'))
urls

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=5',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=6',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=7',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=8',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=9',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0&p=10']

In [326]:
#searching for brand
brand=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoebrand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in shoebrand[:100]:
        brand.append(i.text)
brand[:100]

['Nike',
 'ALDO',
 'Nike',
 'Nike',
 'ALDO',
 'Nike',
 'ADIDAS',
 'Puma',
 'Puma',
 'RARE RABBIT',
 'ASICS',
 'UNDER ARMOUR',
 'Hush Puppies',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'FORCLAZ By Decathlon',
 'PUMA Hoops',
 'Hush Puppies',
 'RARE RABBIT',
 'ASICS',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Hush Puppies',
 'Geox',
 'Kalenji By Decathlon',
 'UNDER ARMOUR',
 'Puma',
 'Hush Puppies',
 'Cole Haan',
 'Geox',
 'J.FONTINI',
 'Ruosh',
 'Geox',
 'Geox',
 'J.FONTINI',
 'KIPRUN By Decathlon',
 'Nike',
 'Hush Puppies',
 'Hush Puppies',
 'Geox',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'ALDO',
 'Geox',
 'Ruosh',
 'Heel & Buckle London',
 'Hush Puppies',
 'Hush Puppies',
 'Nike',
 'Saint G',
 'Florsheim',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Geox',
 'Cole Haan',
 'Cole Haan',
 'Geox',
 'ADIDAS',
 'UNDER ARMOUR',
 'VIONIC',
 'J.FONTINI',
 'Hush Puppies',
 'ADIDAS',
 'J.FONTINI',
 'KLEAT',
 'Lacoste',
 'Lacoste',
 'KLEAT',
 'ALDO',
 'Cole Haan',
 'Geox',
 'Geox',
 'ADIDAS',
 'ASICS',
 'Heel & Buckle London',
 'Cole Haan',
 'Geox',
 'FILA',
 'Geox',
 'Geox',
 'Cole Haan',
 'Heel & Buckle London',
 'Saint G',
 'Heel & Buckle London',
 'Cole Haan',
 'Geox',
 'Geox',
 'Florsheim',
 'Heel & Buckle London',
 'Kenneth Cole',
 'Nike',
 'J.FONTINI',
 'J.FONTINI',
 'Heel & Buckle London']

In [327]:
#searching for brand
description=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    productdescription=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in productdescription[:100]:
        description.append(i.text)
description[:100]

['Men REACT INFINITY RUN Shoes',
 'Men AIR ZOOM Running Shoes',
 'Unisex LEBRON XVIII Basketball',
 'Men Driving Shoes',
 'LEBRON XVIII Basketball Shoes',
 'Men Sneakers',
 'Men Deviate Nitro Running Shoe',
 'Women Running Shoes',
 'Men KD500 Running Shoe',
 'Men Velocity Nitro Running',
 'Men Leather COPA 21.3 FG Shoes',
 'Women Deviate Nitro Running',
 'Men HOVR Infinite Running',
 'Men Leather Slip-On Sneakers',
 'HOVR Sonic 3 Running Shoes',
 'HOVR Sonic 3 Running Shoes',
 'Men Running Shoes',
 'TREKKING 100 Boots',
 'Unisex Clyde Basketball Shoes',
 'Men Leather Slip-On Shoes',
 'Men Perforations Leather Brogues',
 'Women Velocity Nitro Running',
 'Women HOVR Rise 2 Training',
 'Men Leather Slip-On Sneakers',
 'Men Formal Derbys',
 'Men Leather Driving Shoes',
 'GS SC 3Zero IV Basketball',
 'Men Football Shoes',
 'Men Leather Loafers',
 'Men Solid Leather Formal Slip-Ons',
 'Leather Sneakers',
 'Men Leather Semiformal Driving',
 'Men Solid Leather Formal Oxfords',
 'Men Leather Formal Slip-Ons',
 'Men Leather Formal Derbyacs',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Women Running Shoes',
 'Women AIR MAX VIVA Sneakers',
 'Men Solid Leather Formal Derbys',
 'Men Solid Leather Formal Slip-Ons',
 'Ustraa black',
 'Men Formal Leather Slip-Ons',
 'Women Sandals',
 'Men Textured Formal Leather Loafers',
 'Men Leather Formal Derbys',
 'Men Formal Leather Brogues',
 'Women Peep Toe Heels',
 'Men Leather Formal Slip Ons',
 'Men Leather Formal Derbys',
 'Men Leather Formal Derbys',
 'Men REACT MILER 2 Running',
 'Women Leather Heeled Boots',
 'Men Solid Leather Formal Loafers',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men Zoom Winflo 8 Running',
 'Men JORDAN ONE TAKE II Shoes',
 'Men REACT MILER 2 Running',
 'Men Leather Driving Shoes',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Slip-On Sneakers',
 'Men Ultraboost DNA CC_1 Shoes',
 'HOVR Infinite 2 Running Shoes',
 'Men Textured Sneakers',
 'Men Textured Leather Loafers',
 'Men Textured Oxfords',
 'Ultraboost DNA Running Shoes',
 'Men Solid Loafers',
 'Men Woven Design Loafers',
 'Men Woven Design Sneakers',
 'Woven Design Casual Sneakers',
 'Men Woven Design Sneakers',
 'Women Solid Leather Pumps',
 'Women Open Toe Flats',
 'Men Leather Formal Monks',
 'Women Edge Lux 4 Running',
 'Women Solid Leather Loafers',
 'Men Running Shoes',
 'Men Leather Formal Oxfords',
 'Women Solid Leather Ballerinas',
 'Women Leather Slip-Ons',
 'Women Sneakers',
 'Women Woven Design Slip-On Sneakers',
 'Women Leather Ballerinas',
 'Women Woven Design Sneakers',
 'Women Solid Leather Gladiators',
 'Women Heeled Boots',
 'Women Solid Leather Heels',
 'Women Leather Heels',
 'Women Solid Leather Pumps',
 'Women Leather Solid Pumps',
 'Men Solid Leather Formal Derbys',
 'Women Leather Pumps',
 'Women Solid Flat Boots',
 'Men PG 5 EP Basketball Shoes',
 'Men Leather Formal Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Solid Leather Formal Penny Loafers']

In [328]:
#searching for brand
price=[]
for i in urls:
    driver.get(i)
    time.sleep(1)
    shoeprice=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in shoeprice[:100]:
        price.append(i.text)
price[:100]

['Rs. 11596Rs. 14495(20% OFF)',
 'Rs. 8236Rs. 10295(20% OFF)',
 'Rs. 12316Rs. 17595(30% OFF)',
 'Rs. 11999',
 'Rs. 12316Rs. 17595(30% OFF)',
 'Rs. 9999',
 'Rs. 7857Rs. 8449(7% OFF)',
 'Rs. 9749Rs. 14999(35% OFF)',
 'Rs. 9749Rs. 14999(35% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 6999',
 'Rs. 11999',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 6999',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 6999Rs. 9999(30% OFF)',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 9990',
 'Rs. 8499',
 'Rs. 7499',
 'Rs. 11049Rs. 16999(35% OFF)',
 'Rs. 8999',
 'Rs. 10999',
 'Rs. 10490',
 'Rs. 8094Rs. 13490(40% OFF)',
 'Rs. 7495Rs. 14990(50% OFF)',
 'Rs. 7495Rs. 14990(50% OFF)',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 7006Rs. 7149(2% OFF)',
 'Rs. 9996Rs. 12495(20% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 7349Rs. 10499(30% OFF)',
 'Rs. 7490',
 'Rs. 8999',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 8621Rs. 11495(25% OFF)',
 'Rs. 6675Rs. 8900(25% OFF)',
 'Rs. 6995',
 'Rs. 9995',
 'Rs. 9995',
 'Rs. 8295',
 'Rs. 8295',
 'Rs. 8046Rs. 11495(30% OFF)',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 9490',
 'Rs. 9349Rs. 16999(45% OFF)',
 'Rs. 11999',
 'Rs. 7039Rs. 10999(36% OFF)',
 'Rs. 7690',
 'Rs. 6999',
 'Rs. 11899Rs. 16999(30% OFF)',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 8500',
 'Rs. 7595Rs. 10850(30% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7999Rs. 15999(50% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 9799Rs. 13999(30% OFF)',
 'Rs. 8990',
 'Rs. 8999',
 'Rs. 11990',
 'Rs. 9490',
 'Rs. 6749Rs. 14999(55% OFF)',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 7440Rs. 8000(7% OFF)',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 6749Rs. 14999(55% OFF)',
 'Rs. 10990',
 'Rs. 11990',
 'Rs. 6995',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 9513Rs. 13590(30% OFF)',
 'Rs. 7436Rs. 9295(20% OFF)',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 8792Rs. 10990(20% OFF)']

### Q10: Go to webpage https://www.amazon.in/    Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [32]:
#searching for amazon url
url='https://www.amazon.in/'
#getting url
driver.get(url)

In [33]:
#searching for the laptops 
search_laptops=driver.find_element_by_id("twotabsearchtextbox")
search_laptops

In [34]:
search_laptops.send_keys('Laptop')

In [35]:
#searching for the search button
search_btn=driver.find_element_by_id('nav-search-submit-button')
search_btn.click()

In [36]:
#searching for cpu intel core i7 & i9
search_cpu=driver.find_element_by_xpath('//span[@class="a-size-base a-color-base a-text-bold"]')
search_cpu

In [37]:
#searching for the type of cpu
search_cpu_type=driver.find_element_by_xpath('//span[@class="a-size-base a-color-base a-text-bold"]')
search_cpu_type.click()

In [38]:
#checking for i7 processor
i7=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
i7.click()

In [39]:
#checking for i9 processor
i9=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/span')
i9.click()

In [40]:
#checking for urls
urls=[]
for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
    urls.append(i.get_attribute('href'))
urls

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A014119429EI5XB7GMHC7&url=%2FMSI-GS66-Stealth-i7-10875H-10SFS-488IN%2Fdp%2FB08KG3CHVR%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1625727444%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1625727444&id=4877394985277337&widgetName=sp_atf',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_2?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089F2W1KW/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/HP-Pavilion-Processor-15-6-inch-15-dk1509TX/dp/B08ZN7GBQ5/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Lenovo-Legion-Gaming-GeForce-81SY00U7IN/dp/B092MRQCJ6/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/Dell-5410-i7-1165G7-Integrated-D560469WIN9S/dp/B095S9NJ4S/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM702TS/dp/B08SN9GJXH/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-Convertible-14-dw1040TU/dp/B08R843NHL/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/HP-35-56cms-i7-1165G7-Windows-14s-dr2007TU/dp/B08N57LR4X/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Aluminium-82BH004HIN/dp/B08P3M22QQ/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/Renewed-HP-15-6-Inch-Graphics-Zbook/dp/B09128J5VT/ref=sr_1_12?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/GF63-Thin-10SCSR-019IN-i7-10750H-9S7-16R412-019/dp/B0897SXQNN/ref=sr_1_13?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A086665935KXADPC1VKVC&url=%2FNotebook-Horizon-i5-10210U-Graphics-XMA1904-AR%2Fdp%2FB089F5JGM1%2Fref%3Dsr_1_14_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1625727444%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-14-spons%26psc%3D1&qualifier=1625727444&id=4877394985277337&widgetName=sp_mtf',
 'https://www.amazon.in/Renewed-Lenovo-ThinkPad-Graphics-20S0S1MC00/dp/B0983DH45B/ref=sr_1_15?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-15',
 'https://www.amazon.in/Dell-13-3-inch-i7-8550U-Integrated-Graphics/dp/B09813L8BX/ref=sr_1_16?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-16',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B0974WWK87/ref=sr_1_17?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Asus-Zephyrus-GeForce-i7-8750H-GX531GW-AS76/dp/B07KS1JF2H/ref=sr_1_18?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B09752NVNF/ref=sr_1_19?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/Renewed-Lenovo-Integrated-Graphics-WARRANTY/dp/B092Z9PXWT/ref=sr_1_20?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/Inspiron-5593-15-6-inch-i7-1065G7-Graphics/dp/B07ZG4S91Z/ref=sr_1_21?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/Nexstgo-NP15N1IN008P-15-6-inch-i7-8550U-Integrated/dp/B07KGP3HP3/ref=sr_1_22?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/Dell-35-56cms-1366x768-Integrated-Graphics/dp/B097PL7VX8/ref=sr_1_23?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/Dell-Inspiron-i7-1165G7-Integrated-D560414WIN9S/dp/B0919LL313/ref=sr_1_24?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/Renewed-Lenovo-80UE00BLIH-Windows-Champagne/dp/B07K23KHJD/ref=sr_1_25?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/Dell-35-56cms-1366x768-Integrated-Graphics/dp/B097PLFY4B/ref=sr_1_26?dchild=1&keywords=Laptop&qid=1625727444&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-26']

In [41]:
#Searching for the laptop titles
titles=[]
laptoptitles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptoptitles:
    titles.append(i.text)
titles[:10]

['MSI GS66 Stealth, Intel 10th Gen. i7-10875H, 15.6" (39.62cms) FHD Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 10 Home/Nvidia RTX 2070 Super Max-Q/ Black/2.1Kg), 10SFS-488IN',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6” FHD Gaming (8GB/256SSD + 1TBHDD/Win10/NVIDIA GeForce GTX 1650 4GB/Raven Black/2.3kg), 81SY00U7IN',
 'Dell 14 (2021) i7-1165G7 2in1 Touch Screen Laptop, 16Gb RAM, 512Gb SSD, 14” (35.56 cms) FHD Display, Win 10 + MSO, Backlit KB + FPR + Active Pen, Silver Metal Color (Inspiron 5410, D560469WIN9S)',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics ;Dreamy White;1.4 Kg), S433EA-AM702TS',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN']

In [42]:
price=[]
laptopprice=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in laptopprice:
    price.append(i.text)
price[:10]

['2,56,074',
 '84,990',
 '59,999',
 '86,990',
 '69,990',
 '93,071',
 '76,990',
 '79,046',
 '88,990',
 '97,418']

In [44]:
rating=[]
for i in urls[:10]:
    driver.get(i)
    time.sleep(1)
    laptoprating=driver.find_elements_by_xpath('//span[@class="a-size-base a-nowrap"]/span')
    for i in laptoprating:
        rating.append(i.text)
rating[:10]

['3 out of 5',
 '4.5 out of 5',
 '4.4 out of 5',
 '4.2 out of 5',
 '4.3 out of 5',
 '4.6 out of 5',
 '4.4 out of 5',
 '4 out of 5',
 '4.6 out of 5',
 '4.1 out of 5']